@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
  background: #242424;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.button{
  padding: 10px 15px;
  display: inline-block;
  background: #111;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  border: 2px #111 solid;
  transition: 0.5s;
}

.button:hover{
  border: 2px #555 solid;
}

.button-warning{
  padding: 10px 15px;
  display: inline-block;
  background: #511;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  border: 2px #511 solid;
  transition: 0.5s;
}

.button-warning:hover{
  border: 2px #f00 solid;
}

.title{
  position: fixed;
  top: 10px;
  font-size: 70px;
  text-align: center;
  width: 100%;
}

.auth{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input[type="text"]{
  padding: 10px 15px;
  display: inline-block;
  background: #3f3f3f;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  border: 2px #3f3f3f solid;
  transition: 0.5s;
  color: white;
  outline: none;
  font-size: 15px;
}

input[type="text"]:focus{
  border: 2px #555 solid;
}

.code-input{
  display: none;
}

.main{
  position: fixed;
  top: 100px;
  left: 50px;
  width: calc(100% - 100px);
  text-align: center;
  display: none;
}

.loading-indicator{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: #fff 5px solid;
  border-left: #0000 5px solid;
  border-right: #0000 5px solid;
  animation: loading 2s infinite linear;
  display: none;
}

.player{
  background: linear-gradient(to right, #006c86 0%, #111 0%);
  width: 300px;
  height: 60px;
  border-radius: 10px;
  display: inline-flex;
  font-size: 20px;
}

.player-prev{
  width: 40px;
  height: 60px;
  border-right: 2px solid #fff5;
  border-radius: 10px 0 0 10px;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-prev:hover{
  background: #fff5;
}

.player-info{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.player-next{
  width: 40px;
  height: 60px;
  border-left: 2px solid #fff5;
  border-radius: 0 10px 10px 0;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-next:hover{
  background: #fff5;
}

.alert{
  position: fixed;
  top: 50px;
  left: -430px;
  width: 400px;
  background: rgba(68, 68, 68, 0.568);
  backdrop-filter: blur(10px);
  min-height: 70px;
  border-bottom: #00ccff 10px solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  color: white;
  transition: 0.5s;
  box-shadow: #0005 0 0 10px;
  opacity: 0;
}

.alert-title{
  font-size: 25px;
}

.alert-body{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  color: #ccc;
}

.slides{
  border-radius: 10px;
  background: #000;
  display: inline-block;
  width: 300px;
  height: 400px;
  transition: 0.5s;
}

.slide-scroller{
  padding: 10px;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: auto;
  -webkit-mask-image: linear-gradient(to bottom, transparent, #fff, transparent);
  mask-image: linear-gradient(to bottom, transparent 0%, #fff 25%, #fff 75%, transparent 100%);
  width: 300px;
  box-sizing: border-box;
  height: 400px;
  transition: 0.5s;
  scroll-behavior: smooth;
  display: inline-block;
}

.slide-editor{
  display: none;
  opacity: 0;
  transition: 0.5s;
}

.slide{
  text-align: left;
  padding: 10px 5px;
  margin: 5px 0;
  transition: 0.1s;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.slide:hover{
  background: #fff5;
}

.slide .text{
  display: inline-block;
  text-align: left;
  width: calc(100% - 30px);
}

.slide .edit-button{
  text-align: right;
  display: inline-block;
  width: 25px;
}

.slide-editor .type{
  font-size: 25px;
}

.slide-creator{
  display: none;
  transition: 0.5s;
  opacity: 0;
}

.creator-choose-type, .creator-choose-app, .creator-choose-url, .creator-choose-time{
  display: none;
}

.options{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options .option i{
  font-size: 50px;
}

.options .option{
  width: 100%;
  margin: 20px;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: #111 5px solid;
  border-radius: 10px;
  transition: 0.5s;
}

.options .option:hover{
  border: #555 5px solid;
}

.options .selected{
  border: #fff 5px solid;
}

.settings{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #444;
  border-radius: 10px;
  box-shadow: #0005 0 0 10px;
  width: 275px;
  height: 150px;
  text-align: center;
  display: none;
}

.app-list-container{
  overflow: auto;
  height: 150px;
  scroll-behavior: smooth;
}

.app-selector{
  border: #111 2px solid;
  margin: 10px;
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.app-selector:hover{
  border: #555 2px solid;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes loading{
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}